body {
  font-family: 'Arial', sans-serif;
  background-color: #eeeeee;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

input[type="text"]#inputPassword {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="range"] {
  width: 90%;
  margin: 10px 0;
  margin-right: 7px;
}

div {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label {
  font-size: 16px;
  color: #666;
}

button#generateBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

button#generateBtn:hover {
  background-color: #0056b3;
}